<header class="header clearfix">
	<div class="header-back-btn text-left">
		<a onClick="javascript:history.back(-1);"></a>
	</div>
	<div class="header-text text-center">添加地址</div>
	
</header>


<form class="balances-form" action="">
    
    <div class="form-box clearfix">
        <label for="">收货人：</label>
        <input type="text" placeholder="请输入收货人">
    </div>
    <div class="form-box clearfix">
        <label for="">手机号：</label>
        <input type="text" placeholder="请输入手机号">
    </div>
    <div class="form-box clearfix">
        <label for="">邮政编码：</label>
        <input type="text" placeholder="请输入手机号">
    </div>
    <div class="form-box clearfix">
        <label for="">省份：</label>
        <select name="" id="" ng-change="choose1(a)" ng-model="a">
            <option value="{{ $index }}" ng-repeat="pro in data">{{ pro.name }}</option>
        </select>
    </div>
    <div class="form-box clearfix">
        <label for="">市级：</label>
        <select name="" id="" ng-change="choose2(b)" ng-model="b">
            <option value="{{ $index }}" ng-repeat="town in towns">{{ town.name }}</option>
        </select>
    </div>
    <div class="form-box clearfix">
        <label for="">地区：</label>
        <select name="" id="" ng-change="choose3(c)" ng-model="c">
            <option value="" ng-repeat="(index,are) in areaName">{{are}}</option>
        </select>
    </div>
    <div class="form-box clearfix">
        <label for="">街道地址：</label>
        <input type="text" placeholder="请输入详细地址">
    </div>

    <div class="form-submit">
        
        <button type="submit">保存</button>

    </div>

</form>

