<header class="header clearfix">
	<div class="header-back-btn text-left">
		<a onClick="javascript:history.back(-1);"></a>
	</div>
	<div class="header-text text-center">我的优惠劵</div>
	<!-- <div class="header-set text-right">
		<a href="javascript:;">编辑</a>
	</div> -->
</header>

<ul class="order-nav list-unstyled ng-scope">
	<li>
		<div class="order-nav-all hover" ng-class="{'hover':focusIndex==0}" ng-click="isFocus(0)">未使用 <span>(2)</span></div>
	</li>
	<li>
		<div class="order-nav-unfinished" ng-class="{'hover':focusIndex==1}" ng-click="isFocus(1)">已使用 <span>(2)</span></div>
	</li>
	<li>
		<div class="order-nav-finish" ng-class="{'hover':focusIndex==2}" ng-click="isFocus(2)">已过期 <span>(2)</span></div>
	</li>
</ul>

<div class="coupon-list">
	<div class="coupon-hd">8小时后过期</div>
	<div class="coupon-bd">
		<img class="img-responsive" src="img/images/coupon_03.png" alt="">
	</div>
</div>

<div class="coupon-list">
	<div class="coupon-hd">8小时后过期</div>
	<div class="coupon-bd">
		<img class="img-responsive" src="img/images/coupon_05.png" alt="">
	</div>
</div>


<div class="coupon-list">
	<div class="coupon-hd">8小时后过期</div>
	<div class="coupon-bd">
		<img class="img-responsive" src="img/images/coupon_09.png" alt="">
	</div>
</div>


<div class="coupon-list">
	<div class="coupon-hd">8小时后过期</div>
	<div class="coupon-bd">
		<img class="img-responsive" src="img/images/coupon_10.png" alt="">
	</div>
</div>